@charset "utf-8";
/* CSS Document */
.goHome{ float:left; display:block; font-family:Verdana, Geneva, sans-serif; font-size:1.2em; width:auto; padding:10px; color:#FFF !important;
background:linear-gradient( #09F, #336699);
background:-webkit-linear-gradient( #09F, #336699);

border-radius:5px;

}

img.borderwhite{ border-radius:14px !important; margin:0px !important; padding:0px !important;}
#call{ margin-left:10px;}
li#left{ color:#000 !important; float:left !important; text-align:left; padding:4%; width:92%; line-height:25px; font-family:"Arial Black", Gadget, sans-serif; font-size:1em; overflow:hidden;}
.news1{ color:#CCC; font-family:Verdana, Geneva, sans-serif; font-size:1.6em !important; text-align:center; padding:20px 0px;}
.middle{ text-align:center; margin:0;}
.goHome a{ color:#FFF; list-style:none; text-decoration:none; display:block;}
.goHome a:vistited{ color:#FFF;}
.font, .box, .list{ font-family:sans-serif; font-size:16px; color:#333; line-height:19px;}
.box{ width:100%; margin-top:20px !important; border-radius:10px; height:auto; float:left; margin:auto; background:#FFF;}

.box p{ padding:5px 10px;}
.headerTitle{ width:100%; height:auto; padding:5px 0; text-align:center; font-size:1.3em; color:#666; background-color:#fff; border-radius:5px; margin-bottom:10px; font-family:Verdana, Geneva, sans-serif; font-weight:bold; text-shadow:1px 2px 2px #FFFFFF;}
.h{ width:100%; height:104px; :left; text-align:center;}
h2{ line-height:40px; font-family:sans-serif; font-size:1.5em; padding-left:10px;}
hr{ margin:20px; display:block; color:#999; background-color:#F00; padding:0px;}

.raydream{ clear:both; height:60px; width:90%; background:url(../raydream.png); background-attachment:local; background-repeat:no-repeat; background-position:center;}
.myForm{
	width:100%;
height: auto;
margin: 0px;
background: linear-gradient(#ccc, #FFF, #CCC);
background: -webkit-linear-gradient(white, #ccc, #FFF);
border: 1px solid #099;
display: block; text-align:center; float:left;
padding: 10px 0;
border-radius: 10px;}

.myForm input[type=text], input[type=submit]{ padding:10px;}
.myForm select, label, input, textarea{ margin:0 0 0 15px; float:left; display:inline-block; clear:left; font-family:Verdana, Geneva, sans-serif;}

.myForm input[type=text], select, textarea, button, input[type=email], input[type=tel], input[type=password], input[type=submit], input[type=number]{
	border:1px solid #666; border-radius:5px; margin:10px; padding:10px; width:auto; color:black; font-size:1.2em; background-color:#CCC; display:block;}
.myForm input[type=submit]{ width:auto;}
.myForm textarea{ resize:none; width:auto; height:auto;}
.myForm select{ padding:10px;}
<!--  fix this -->
.bbbutton{ width:auto; height:50px;  padding:5px; float:left; font-family:Verdana, Geneva, sans-serif; font-size:1.2em; color:black;}
.title {font-family:Arial, Helvetica, sans-serif;}
.big{ font-size:2em; padding:10px;}
#boxA{ padding:0px; margin:0px; float:left;}
#boxA{ background-color:#CCC; border-radius:20px; width:100%; padding:10px 0; margin:20px 0; height:auto; display:block;}
#boxA label{width:100%; text-indent:20px; display:block; margin:auto; color:#333; padding:5px 0; font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#666;}
#boxA input{ font-family:Verdana, Geneva, sans-serif; font-size:1.4em; font-stretch:ultra-condensed; background-color:#FFF; color:#333; border-bottom:1px solid red; border-radius:5px; width:90%; margin: 0 5%; padding:10px 0 10px 0px; text-indent:10px; text-align:left; border:none; display:block;}
#boxA input[type=tel]{}
#boxA input[type=button] { color:#fff; float:right; width:auto; padding:10px; margin:20px; background-color:#03F !important;}

#bar{ width:80%; z-index:2; height:100%; background-color:#03F; color:#FFF; display:none; position:fixed; overflow:auto; top:0; right:0; bottom:0; left:0; -webkit-overflow-scrolling: touch;}
#barOverlay{width:20%; overflow:hidden; opacity:.8; z-index:3; height:100%; background-color:#039; color:#FFF; display:none; position:fixed; right:0;}

/*
#edit, #delete, #addPictures, #sold, #test{ background: none repeat scroll 0 0 #FFFFFF;
    
   
    float: left;
    line-height: 20px;
    position: relative;
    right: 0;
    text-align: left;
     height:20px;
    width: 100%;}
*/

.list{ width:100%; height:auto; float:left; margin:auto; font-size:18px;}
.list ul, .list li{ padding:0px; margin:0px; text-align:center;}
.list li{ width:100%; height:auto; margin:10px 0; list-style-type:none; background-color:#CCC; text-align:left; text-indent:20px; padding:5px 0px;}

.makes{ width:100%; height:auto !important; display:block; float:left; position:relative; margin-top:20px !important; font-size:1.4em; }
.makes ul, .makes li{ padding:0px; margin:0px; text-align:center;}
.makes li{ width:100%; height:auto; margin:0; list-style-type:none; background-color:#f2f2f2; color:#147ca6; text-align:left; text-indent:10px; padding:5px 0px; list-style:none;}
.makes li:nth-child(even){ background-color:#a7cbd9; color:#f2f2f2; text-shadow:1px 0px 1px #147CA6;}
.makes li:first-child{ border-radius:10px 10px 0 0;}
.makes li:last-child{ border-radius:0 0 10px 10px;}
.makes a{ text-decoration:none; list-style:none; list-style-type:none; display:block; color:inherit;}
.makes a:hover{color:inherit;}
.makes a:visited{ color:inherit;}

h1{ color: #000000;
    font-size: 1em;
    font-weight: normal;
    left: 5px;
    line-height: 18px;
    margin: 0;
    padding-bottom: 5px;
    padding-left: 5px;
    text-align: left;
    text-decoration: none; top:10px;
	text-shadow:0px 1px 2px #FFFFFF;
    }
h5{color: #000000;
    font-size: .9em;
    font-weight: normal;
    line-height: 20px;
    padding-left: 0px;
    padding-top: 0;
    text-decoration: none; position:absolute; left:140px; margin:0px; top:30px; text-align:left;}

.makes span{ float:right; padding-right:10px;}
/*using for media queries*/



.myTarget{ width:100%; height:auto; float:left; margin-top:20px; margin-bottom:40px; padding:0px;}
.myTarget ul, .myTarget li{ padding:0px; margin:0px;}
.myTarget li{width:100%; height:auto; float:left; border-bottom:1px solid #333333;  border-top:1px solid #FFF; padding:0px; color:#FFFFFF; font-family:Verdana, Geneva, sans-serif; font-size:14px; font-weight:bold; list-style:none; position:relative; background-color:#f2f2f2; padding-bottom:5px;}
.myTarget li:nth-child(even){ background:#a7cbd9;}
.myTarget li:first-child{ border-radius:10px 10px 0 0;}
.myTarget li:last-child{ border-radius:0 0 10px 10px;}
.myTarget img{}
/*ending myTarget*/

.westImage{ width:120px; height:90px; border:1px solid white; border-radius:10px; overflow:hidden !important; left:5px; position:relative;}
.westImage img{ position:relative;}

